# Data_structures
##Stings 
##List
##Touples
##Dictionary
##Sets

In [1]:
my_list=[1,2,3.4,'hello']
print(type(my_list))

<class 'list'>

In [2]:
l2=list(my_list)
print(l2)

[1, 2, 3.4, 'hello']

In [4]:
l3=list([5,6,7])
print(l3)

[5, 6, 7]

In [5]:
l2=l2+l3
print(l2)

[1, 2, 3.4, 'hello', 5, 6, 7]

In [7]:
l2.extend(l3)
print(l2)

[1, 2, 3.4, 'hello', 5, 6, 7, 5, 6, 7, 5, 6, 7]

In [8]:
l4=[i*i for i in range(1,6)]
print(l4)

[1, 4, 9, 16, 25]

## Insertion and Deletion
 -append
 -insert
 -remove
 -pop
 -del

In [9]:
l=[1,2]
l.append(3)
l.append([2,3,4])#Mulidimentional Arrays
print(l)

[1, 2, 3, [2, 3, 4]]

In [10]:
print(l[3])

[2, 3, 4]

In [12]:
print(l[3][0])

2

In [14]:
del l[1]
print(l)

[1, [2, 3, 4]]

In [15]:
l.append(2)
print(l)

[1, [2, 3, 4], 2]

In [16]:
l.pop()#Removes the last element
print(l)

[1, [2, 3, 4]]

In [17]:
l.insert(2,30)#First argument is position and next is data
print(l)

[1, [2, 3, 4], 30]

# More_functions_for_list Searching and sorting

In [25]:
my_list1=[4,5,6,72,4,5]
print(max(my_list1),min(my_list1))

72 4

In [31]:
my_list1=sorted(my_list1)#returns a copy of the sorted list
print(my_list1)

[4, 4, 5, 5, 6, 72]

In [33]:
my_list1.sort(reverse=True)
print(my_list1)

[72, 6, 5, 5, 4, 4]

In [35]:
#Read a list of numbers
numbers=[int(number) for number in input().split()]#gives a list of intergers
print(numbers)
print(type(numbers))

1 78 454 6 2 185 6 5 6 6
[1, 78, 454, 6, 2, 185, 6, 5, 6, 6]
<class 'list'>

# Dictionaries

In [5]:
d={"mango":10,"Guava":20,"Pineapple":40}
print(d)
print(type(d))
d["apple"]= 70
print(d)
d["Strawberries"]={"small":30,"large":50}
print(d["Strawberries"]["small"])

{'mango': 10, 'Guava': 20, 'Pineapple': 40}
<class 'dict'>
{'mango': 10, 'Guava': 20, 'Pineapple': 40, 'apple': 70}
30

In [6]:
print(d.keys())

dict_keys(['mango', 'Guava', 'Pineapple', 'apple', 'Strawberries'])

In [7]:
print(d.values())

dict_values([10, 20, 40, 70, {'small': 30, 'large': 50}])

In [8]:
h1=["mango","banana","orange"]
h2=[100,200,300]
dic=dict(zip(h1,h2))
print(dic)

{'mango': 100, 'banana': 200, 'orange': 300}

In [9]:
for k in dic:
    print(k)

mango
banana
orange

In [10]:
for k in dic.values():
    print(k)

100
200
300

# Tuples

In [12]:
t=(1,1,2,3,43,"hello")#they are immutable
l=list(t)
l[0]=8
t=tuple(l)
print(t,l)
#they can be used in case of loops due to fast iteration
#also support concatenation and repeatations

(8, 1, 2, 3, 43, 'hello') [8, 1, 2, 3, 43, 'hello']

# Sets
## stores unordered and unique elements

In [13]:
s=set([1,1,2,23,3,3,3,3,4,4,55,])
print(s)#stores in an order compatible with the process

{1, 2, 3, 4, 55, 23}

In [15]:
s.add(16)
print(s)

{1, 2, 3, 4, 16, 55, 23}

In [16]:
s2={1,2,3,4,6,4}
s3={9,5,6,3}
print(s2^s3)#prints the elements only in one of the sets

{1, 2, 4, 5, 9}