In [1]:
import pandas as pd
pd.plotting.register_matplotlib_converters()
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import numpy as np
from scipy import stats
from sklearn.preprocessing import StandardScaler

In [5]:
dfx=pd.read_csv('Diabetes_XTrain.csv')
dfy=pd.read_csv('Diabetes_YTrain.csv')

In [6]:
dfx.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,7,168,88,42,321,38.2,0.787,40
1,8,110,76,0,0,27.8,0.237,58
2,7,147,76,0,0,39.4,0.257,43
3,2,100,66,20,90,32.9,0.867,28
4,4,129,86,20,270,35.1,0.231,23

In [7]:
dfy.head()

   Outcome
0        1
1        0
2        1
3        1
4        0

In [6]:
#result = pd.concat([dfx, dfy], axis=1, join='inner')
#result.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,7,168,88,42,321,38.2,0.787,40,1
1,8,110,76,0,0,27.8,0.237,58,0
2,7,147,76,0,0,39.4,0.257,43,1
3,2,100,66,20,90,32.9,0.867,28,1
4,4,129,86,20,270,35.1,0.231,23,0

In [21]:
# replace zero by mean
zero_Not_Accepted=['Pregnancies','Glucose','BloodPressure','SkinThickness','Insulin','BMI']
for _ in zero_Not_Accepted:
    dfx[_]=dfx[_].replace(0,np.NaN)
    mean=int(dfx[_].mean(skipna=True))
    dfx[_]=dfx[_].replace(np.NaN,mean)

In [9]:
dfx.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,7.0,168.0,88.0,42.0,321.0,38.2,0.787,40
1,8.0,110.0,76.0,28.0,147.0,27.8,0.237,58
2,7.0,147.0,76.0,28.0,147.0,39.4,0.257,43
3,2.0,100.0,66.0,20.0,90.0,32.9,0.867,28
4,4.0,129.0,86.0,20.0,270.0,35.1,0.231,23

In [10]:
y=dfy.values
x=dfx.values
print(x)

[[  7.    168.     88.    ...  38.2     0.787  40.   ]
 [  8.    110.     76.    ...  27.8     0.237  58.   ]
 [  7.    147.     76.    ...  39.4     0.257  43.   ]
 ...
 [  2.    122.     60.    ...  29.8     0.717  22.   ]
 [  4.    154.     72.    ...  31.3     0.338  37.   ]
 [  1.     88.     78.    ...  32.      0.365  29.   ]]

In [11]:
# Normalise
x=(x-x.mean())/x.std()

In [12]:
def dist(x1,x2):
    return np.sqrt(sum((x1-x2)**2))
def knn(X,Y,queryPoint,k=5):
    vals=[]
    m=X.shape[0]
    for i in range(m):
        d=dist(queryPoint,X[i])
        vals.append((d,Y[i]))
    vals=sorted(vals)
    vals=vals[:k]
    vals=np.array(vals)
    new_vals=np.unique(vals[:,1],return_counts=True)
    #print(new_vals)
    index=new_vals[1].argmax()
    #print(index)
    predictions=new_vals[0][index]
    #print(predictions)
    return predictions

In [16]:
# replace zero by mean
X_=pd.read_csv('Diabetes_Xtest.csv')
zero_Not_Accepted=['Pregnancies','Glucose','BloodPressure','SkinThickness','Insulin','BMI']
for _ in zero_Not_Accepted:
    X_[_]=X_[_].replace(0,np.NaN)
    mean=int(X_[_].mean(skipna=True))
    X_[_]=X_[_].replace(np.NaN,mean)
X_=X_.values
X_=(X_-X_.mean())/X_.std()

In [18]:

filename= 'Diabetes_Ytest.csv'
# for headers
with open(filename,'w',encoding='utf-8') as f:
    # write the header
    header_string='Outcome'
    header_string += '\n'
    f.write(header_string)
    # for row
    for _ in X_:
        row_string=str(int(knn(x,y,_,5)))
        row_string+='\n'
        f.write(row_string)