# Decision Trees
- Simple Tree like structure,model makes a decision in every node
- Useful in simple tasks
- One of the most popular algorithm
- Easy explainability,easy to show how a decision process works
# Why decision trees are pupular?
- Easy to interprete and present
- well defined logic mimic human level thought
- Random Forests, Ensembles of decision trees are more powerful classifires
- Feature values are preferred to be categorical. If the values are continuous then they are discretized prior to building the model.
# Build Decision Trees
Two common algorithms- 
 - CART(Classification and Regression Trees) -> uses Gini Index(classification) as metric.
 - ID3(Iterative Dichotomiser) -> uses Entropy function and Information gain as metrics

#### On the Titanic Survivor Dataset
- Learning Goals
   - Droping not so useful features
   - Filling the missing values(Data Imputaion)
   - Creating a binary decision tree from scratch

In [1]:
import pandas as pd 
import numpy as np
import seaborn as sns

In [2]:
data = pd.read_csv('Train.csv')

In [3]:
data.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,3.0,0.0,"O'Donoghue, Ms. Bridget",female,NaN,0.0,0.0,364856,7.750,NaN,Q,NaN,NaN,NaN
1,2.0,0.0,"Morley, Mr. Henry Samuel (""Mr Henry Marshall"")",male,39.0,0.0,0.0,250655,26.000,NaN,S,NaN,NaN,NaN
2,2.0,1.0,"Smith, Miss. Marion Elsie",female,40.0,0.0,0.0,31418,13.000,NaN,S,9,NaN,NaN
3,3.0,1.0,"Goldsmith, Mrs. Frank John (Emily Alice Brown)",female,31.0,1.0,1.0,363291,20.525,NaN,S,C D,NaN,"Strood, Kent, England Detroit, MI"
4,3.0,1.0,"McCoy, Miss. Agnes",female,NaN,2.0,0.0,367226,23.250,NaN,Q,16,NaN,NaN

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1009 entries, 0 to 1008
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     1009 non-null   float64
 1   survived   1009 non-null   float64
 2   name       1009 non-null   object
 3   sex        1009 non-null   object
 4   age        812 non-null    float64
 5   sibsp      1009 non-null   float64
 6   parch      1009 non-null   float64
 7   ticket     1009 non-null   object
 8   fare       1008 non-null   float64
 9   cabin      229 non-null    object
 10  embarked   1008 non-null   object
 11  boat       374 non-null    object
 12  body       98 non-null     float64
 13  home.dest  582 non-null    object
dtypes: float64(7), object(7)
memory usage: 110.5+ KB

In [5]:
columns_to_remove = ['ticket','name','cabin','home.dest','embarked','body','boat']
data_clean = data.drop(columns_to_remove,axis=1) # axis = 1 means operating on column

In [6]:
data_clean.head()

   pclass  survived     sex   age  sibsp  parch    fare
0     3.0       0.0  female   NaN    0.0    0.0   7.750
1     2.0       0.0    male  39.0    0.0    0.0  26.000
2     2.0       1.0  female  40.0    0.0    0.0  13.000
3     3.0       1.0  female  31.0    1.0    1.0  20.525
4     3.0       1.0  female   NaN    2.0    0.0  23.250

In [7]:
data_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1009 entries, 0 to 1008
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pclass    1009 non-null   float64
 1   survived  1009 non-null   float64
 2   sex       1009 non-null   object
 3   age       812 non-null    float64
 4   sibsp     1009 non-null   float64
 5   parch     1009 non-null   float64
 6   fare      1008 non-null   float64
dtypes: float64(6), object(1)
memory usage: 55.3+ KB

In [8]:
# convert categorical features into numerical features
from sklearn.preprocessing import LabelEncoder

In [9]:
le = LabelEncoder()
data_clean['sex'] = le.fit_transform(data_clean['sex'])

In [10]:
data_clean.head()

   pclass  survived  sex   age  sibsp  parch    fare
0     3.0       0.0    0   NaN    0.0    0.0   7.750
1     2.0       0.0    1  39.0    0.0    0.0  26.000
2     2.0       1.0    0  40.0    0.0    0.0  13.000
3     3.0       1.0    0  31.0    1.0    1.0  20.525
4     3.0       1.0    0   NaN    2.0    0.0  23.250

In [11]:
# fill the nan values with mean
data_clean = data_clean.fillna(data_clean['age'].mean())
# Imputers are also available on sklearn

In [12]:
data_clean.head()

   pclass  survived  sex        age  sibsp  parch    fare
0     3.0       0.0    0  29.838978    0.0    0.0   7.750
1     2.0       0.0    1  39.000000    0.0    0.0  26.000
2     2.0       1.0    0  40.000000    0.0    0.0  13.000
3     3.0       1.0    0  31.000000    1.0    1.0  20.525
4     3.0       1.0    0  29.838978    2.0    0.0  23.250

In [13]:
data_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1009 entries, 0 to 1008
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pclass    1009 non-null   float64
 1   survived  1009 non-null   float64
 2   sex       1009 non-null   int32
 3   age       1009 non-null   float64
 4   sibsp     1009 non-null   float64
 5   parch     1009 non-null   float64
 6   fare      1009 non-null   float64
dtypes: float64(6), int32(1)
memory usage: 51.4 KB

In [14]:
# to check data in a row or column
data_clean.loc[2] # 2nd row

pclass       2.0
survived     1.0
sex          0.0
age         40.0
sibsp        0.0
parch        0.0
fare        13.0
Name: 2, dtype: float64

In [15]:
input_data_columns = ['pclass','sex','age','sibsp','parch','fare']
output_data_columns = ['survived']
input_data = data_clean[input_data_columns]
output_data = data_clean[output_data_columns]
print(input_data.shape,output_data.shape)

(1009, 6) (1009, 1)

#### Define Entropy and Information Gain

In [16]:
def entropy(col):
    counts = np.unique(col,return_counts=True)
    N = float(col.shape[0])
    
    entropy_ = 0.0
    for ix in counts[1]:
        p = ix/N
        entropy_ += (-1*p*np.log2(p))
    return entropy_

In [17]:
col = np.array([1,1,0,0,0,0,0,0,0,1,1,1,1,1,0,0,0,1,0])
entropy(col)

0.9819407868640977

In [18]:
def divide_data(x_data,fkey,fval):
    # work with pandas data frame
    x_right = pd.DataFrame([],columns=x_data.columns)
    x_left = pd.DataFrame([],columns=x_data.columns)
    
    for ix in range(x_data.shape[0]):
        val = x_data[fkey].loc[ix]
        
        if val > fval:
            x_right = x_right.append(x_data.loc[ix]) # append the entire row
        else:
            x_left = x_left.append(x_data.loc[ix])
            
    return x_left,x_right

In [19]:
x_left,x_right = divide_data(data_clean[:10],'sex',0.5)
print(x_left)
print(x_right)

   pclass  survived  sex        age  sibsp  parch     fare
0     3.0       0.0  0.0  29.838978    0.0    0.0   7.7500
2     2.0       1.0  0.0  40.000000    0.0    0.0  13.0000
3     3.0       1.0  0.0  31.000000    1.0    1.0  20.5250
4     3.0       1.0  0.0  29.838978    2.0    0.0  23.2500
7     1.0       1.0  0.0  49.000000    0.0    0.0  25.9292
   pclass  survived  sex        age  sibsp  parch     fare
1     2.0       0.0  1.0  39.000000    0.0    0.0  26.0000
5     2.0       0.0  1.0  16.000000    0.0    0.0  26.0000
6     2.0       0.0  1.0  43.000000    0.0    1.0  21.0000
8     1.0       0.0  1.0  48.000000    0.0    0.0  50.4958
9     2.0       0.0  1.0  29.838978    0.0    0.0  12.8750

In [20]:
def information_gain(x_data,fkey,fval):
    left,right = divide_data(x_data,fkey,fval)
    
    # % of total samples on left and right which will act as weights
    l = float(left.shape[0])/x_data.shape[0]
    r = float(right.shape[0])/x_data.shape[0]
    
    # All examples come to one side!
    if left.shape[0] == 0 or right.shape[0] == 0:
        return -1000000 # Min information gain
    i_gain = entropy(x_data.survived) - (l*entropy(left.survived) + r*entropy(right.survived))
    return i_gain

In [21]:
# Test our functon
for fx in input_data.columns:
    print(fx)
    print(information_gain(data_clean,fx,data_clean[fx].mean()))

pclass
0.055456910002982474
sex
0.19274737190850932
age
0.0010525742338489685
sibsp
0.006492394392888956
parch
0.01975608012294816
fare
0.04242793401428169

In [31]:
class DecisionTree:
    def __init__(self,depth=0,max_depth=5):
        self.left = None
        self.right = None
        self.fkey = None
        self.fval = None
        self.depth = depth
        self.max_depth = max_depth
        self.target = None
        
    def Train(self,X_train):
        features =  ['pclass','sex','age','sibsp','parch','fare']
        info_gains = []
        
        for ix in features:
            i_gain = information_gain(X_train,ix,X_train[ix].mean())
            info_gains.append(i_gain)
            
        self.fkey = features[np.argmax(info_gains)]
        self.fval = X_train[self.fkey].mean()
        print('Making Tree, Feature is:',self.fkey)
        
        # Split Data
        data_left,data_right = divide_data(X_train,self.fkey,self.fval)
        data_left = data_left.reset_index(drop=True)
        data_right = data_right.reset_index(drop=True)
        
        if data_left.shape[0] == 0 or data_right.shape[0] == 0:
            if X_train.survived.mean() >= 0.5:
                self.target = 'survive'
            else:
                self.target = 'Dead'
            return
        # stop early when depth >= max depth
        if(self.depth>=self.max_depth):
            if X_train.survived.mean() >= 0.5:
                self.target = 'survive'
            else:
                self.target = 'Dead'
            return
        # Recursive Case
        self.left = DecisionTree(depth=self.depth+1,max_depth=self.max_depth)
        self.left.Train(data_left)
        
        self.right = DecisionTree(depth=self.depth+1,max_depth=self.max_depth)
        self.right.Train(data_right)
        
        # you can also set the target at every node
        if X_train.survived.mean() >= 0.5:
                self.target = 'survive'
        else:
                self.target = 'Dead'
        return
    def Predict(self,test):
        if test[self.fkey]>self.fval:
            # go to right
            if self.right is None:
                return self.target
            return self.right.Predict(test)
        else:
            if self.left is None:
                return self.target
            return self.left.Predict(test)

In [32]:
d = DecisionTree()
d.Train(data_clean)

Making Tree, Feature is: sex
Making Tree, Feature is: pclass
Making Tree, Feature is: pclass
Making Tree, Feature is: fare
Making Tree, Feature is: sibsp
Making Tree, Feature is: age
Making Tree, Feature is: age
Making Tree, Feature is: sibsp
Making Tree, Feature is: age
Making Tree, Feature is: sibsp
Making Tree, Feature is: parch
Making Tree, Feature is: fare
Making Tree, Feature is: sibsp
Making Tree, Feature is: fare
Making Tree, Feature is: age
Making Tree, Feature is: age
Making Tree, Feature is: parch
Making Tree, Feature is: parch
Making Tree, Feature is: sibsp
Making Tree, Feature is: fare
Making Tree, Feature is: fare
Making Tree, Feature is: fare
Making Tree, Feature is: age
Making Tree, Feature is: sibsp
Making Tree, Feature is: sibsp
Making Tree, Feature is: fare
Making Tree, Feature is: fare
Making Tree, Feature is: age
Making Tree, Feature is: fare
Making Tree, Feature is: fare
Making Tree, Feature is: fare
Making Tree, Feature is: age
Making Tree, Feature is: fare
Making Tree, Feature is: parch
Making Tree, Feature is: age
Making Tree, Feature is: fare
Making Tree, Feature is: fare
Making Tree, Feature is: fare
Making Tree, Feature is: sibsp
Making Tree, Feature is: pclass
Making Tree, Feature is: pclass
Making Tree, Feature is: age
Making Tree, Feature is: pclass
Making Tree, Feature is: age
Making Tree, Feature is: sibsp
Making Tree, Feature is: parch
Making Tree, Feature is: pclass
Making Tree, Feature is: age
Making Tree, Feature is: pclass
Making Tree, Feature is: age
Making Tree, Feature is: parch
Making Tree, Feature is: fare
Making Tree, Feature is: age
Making Tree, Feature is: sibsp
Making Tree, Feature is: fare
Making Tree, Feature is: fare
Making Tree, Feature is: sibsp
Making Tree, Feature is: sibsp
Making Tree, Feature is: pclass
Making Tree, Feature is: age
Making Tree, Feature is: age
Making Tree, Feature is: pclass
Making Tree, Feature is: pclass

#### Train-Validation-Test Set Split

In [33]:
split = int(0.7*data_clean.shape[0])
train_data = data_clean[:split]
test_data = data_clean[split:]
test_data = test_data.reset_index(drop=True)

In [34]:
print(train_data.shape,test_data.shape)

(706, 7) (303, 7)

In [35]:
dt = DecisionTree()

In [36]:
dt.Train(train_data)

Making Tree, Feature is: sex
Making Tree, Feature is: pclass
Making Tree, Feature is: parch
Making Tree, Feature is: fare
Making Tree, Feature is: fare
Making Tree, Feature is: fare
Making Tree, Feature is: fare
Making Tree, Feature is: age
Making Tree, Feature is: age
Making Tree, Feature is: age
Making Tree, Feature is: fare
Making Tree, Feature is: pclass
Making Tree, Feature is: age
Making Tree, Feature is: age
Making Tree, Feature is: age
Making Tree, Feature is: age
Making Tree, Feature is: age
Making Tree, Feature is: sibsp
Making Tree, Feature is: fare
Making Tree, Feature is: fare
Making Tree, Feature is: parch
Making Tree, Feature is: age
Making Tree, Feature is: age
Making Tree, Feature is: age
Making Tree, Feature is: parch
Making Tree, Feature is: fare
Making Tree, Feature is: parch
Making Tree, Feature is: age
Making Tree, Feature is: fare
Making Tree, Feature is: fare
Making Tree, Feature is: age
Making Tree, Feature is: age
Making Tree, Feature is: fare
Making Tree, Feature is: parch
Making Tree, Feature is: sibsp
Making Tree, Feature is: age
Making Tree, Feature is: age
Making Tree, Feature is: pclass
Making Tree, Feature is: age
Making Tree, Feature is: age
Making Tree, Feature is: pclass
Making Tree, Feature is: fare
Making Tree, Feature is: parch
Making Tree, Feature is: sibsp
Making Tree, Feature is: pclass
Making Tree, Feature is: age
Making Tree, Feature is: pclass
Making Tree, Feature is: pclass
Making Tree, Feature is: fare
Making Tree, Feature is: age
Making Tree, Feature is: sibsp
Making Tree, Feature is: pclass
Making Tree, Feature is: age
Making Tree, Feature is: pclass
Making Tree, Feature is: sibsp
Making Tree, Feature is: pclass
Making Tree, Feature is: pclass
Making Tree, Feature is: fare
Making Tree, Feature is: parch
Making Tree, Feature is: fare
Making Tree, Feature is: pclass
Making Tree, Feature is: age
Making Tree, Feature is: age

In [38]:
print(dt.fkey)
print(dt.fval)
print(dt.left.fkey)
print(dt.right.fkey)

sex
0.6543909348441926
pclass
fare

In [29]:
y_pred = []
for ix in range(test_data.shape[0]):
    y_pred.append(dt.Predict(test_data.loc[ix]))

In [30]:
y_pred

['Dead',
 'survive',
 'Dead',
 'Dead',
 'Dead',
 'survive',
 'survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'survive',
 'Dead',
 'Dead',
 'survive',
 'Dead',
 'survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'survive',
 'survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'survive',
 'survive',
 'survive',
 'survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'survive',
 'Dead',
 'Dead',
 'survive',
 'Dead',
 'Dead',
 'survive',
 'Dead',
 'Dead',
 'survive',
 'Dead',
 'survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'survive',
 'survive',
 'survive',
 'Dead',
 'survive',
 'Dead',
 'Dead',
 'Dead',
 'survive',
 'survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'survive',
 'survive',
 'Dead',
 'Dead',
 'Dead',
 'survive',
 'survive',
 'survive',
 'Dead',
 'Dead',
 'survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'survive',
 'survive',
 'Dead',
 'survive',
 'Dead',
 'Dead',
 'Dead',
 'survive',
 'survive',
 'survive',
 'Dead',
 'Dead',
 'survive',
 'Dead',
 'survive',
 'survive',
 'survive',
 'survive',
 'survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'survive',
 'survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'survive',
 'survive',
 'Dead',
 'survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'survive',
 'survive',
 'Dead',
 'Dead',
 'Dead',
 'survive',
 'Dead',
 'Dead',
 'survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'survive',
 'survive',
 'survive',
 'Dead',
 'Dead',
 'survive',
 'Dead',
 'survive',
 'survive',
 'survive',
 'survive',
 'Dead',
 'Dead',
 'Dead',
 'survive',
 'Dead',
 'Dead',
 'survive',
 'survive',
 'Dead',
 'Dead',
 'Dead',
 'survive',
 'Dead',
 'survive',
 'survive',
 'Dead',
 'survive',
 'survive',
 'Dead',
 'Dead',
 'Dead',
 'survive',
 'survive',
 'survive',
 'survive',
 'Dead',
 'survive',
 'survive',
 'survive',
 'survive',
 'Dead',
 'Dead',
 'Dead',
 'survive',
 'Dead',
 'survive',
 'survive',
 'survive',
 'Dead',
 'Dead',
 'Dead',
 'survive',
 'survive',
 'Dead',
 'survive',
 'Dead',
 'Dead',
 'survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'survive',
 'survive',
 'Dead',
 'Dead',
 'Dead',
 'survive',
 'Dead',
 'Dead',
 'survive',
 'survive',
 'survive',
 'Dead',
 'Dead',
 'survive',
 'survive',
 'survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'survive',
 'Dead',
 'survive',
 'survive',
 'Dead',
 'Dead',
 'Dead',
 'survive',
 'Dead',
 'survive',
 'survive',
 'survive',
 'Dead',
 'Dead',
 'survive',
 'Dead',
 'survive',
 'Dead',
 'survive',
 'survive',
 'Dead',
 'Dead',
 'survive',
 'Dead',
 'Dead',
 'survive',
 'survive',
 'survive',
 'survive',
 'Dead',
 'Dead',
 'survive',
 'survive',
 'survive',
 'survive',
 'survive',
 'survive',
 'Dead',
 'Dead',
 'survive',
 'survive',
 'Dead',
 'Dead',
 'survive',
 'Dead',
 'survive',
 'Dead',
 'survive',
 'survive',
 'Dead']

In [39]:
y_actual = test_data[output_data_columns]

In [40]:
print(y_actual)

     survived
0         0.0
1         1.0
2         0.0
3         0.0
4         0.0
..        ...
298       1.0
299       0.0
300       1.0
301       1.0
302       0.0

[303 rows x 1 columns]

In [41]:
y_pred = le.fit_transform(y_pred)
print(y_pred)

[0 1 0 0 0 1 1 0 0 0 0 1 0 0 1 0 1 0 0 0 0 1 1 0 0 0 0 0 1 1 1 1 0 0 0 0 0
 1 0 0 1 0 0 1 0 0 1 0 1 0 0 0 0 0 0 1 1 1 0 1 0 0 0 1 1 0 0 0 0 0 0 0 0 0
 1 1 0 0 0 1 1 1 0 0 1 0 0 0 0 1 1 0 1 0 0 0 1 1 1 0 0 1 0 1 1 1 1 1 0 0 0
 0 0 0 0 0 1 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 1 0 1 0 0 0 0 0 0
 1 1 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 0 0 1 0 1 1 1 1 0 0 0 1
 0 0 1 1 0 0 0 1 0 1 1 0 1 1 0 0 0 1 1 1 1 0 1 1 1 1 0 0 0 1 0 1 1 1 0 0 0
 1 1 0 1 0 0 1 0 0 0 0 1 1 0 0 0 1 0 0 1 1 1 0 0 1 1 1 0 0 0 0 1 0 1 1 0 0
 0 1 0 1 1 1 0 0 1 0 1 0 1 1 0 0 1 0 0 1 1 1 1 0 0 1 1 1 1 1 1 0 0 1 1 0 0
 1 0 1 0 1 1 0]

In [42]:
y_pred = np.array(y_pred).reshape((-1,1))
print(y_pred.shape)

(303, 1)

In [46]:
acc = np.sum(np.array(y_pred)==np.array(y_actual))/y_pred.shape[0]
print(acc)

1.0

In [ ]:
a